body {
    background: #c8d7b3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color:#0CBABA;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 30px;
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    min-width: 20 px;
    text-align: center;
    display: inline-block;
}

.row{
    margin-bottom: 10px;
    margin: 10px;
}
   
.input-area{
    margin: 30px;
}

